{%extends 'layout.html'%}


{%block content %}


<!-- Header -->
<div class="header">
  <h1>SaveTFP FAQ</h1>
</div>



<!-- The flexible grid (content) -->
<div style="padding: 20px;">
  <h2>What is SaveTFP?</h2>
  <p>A group that hosts social activities on the weekend to help MIT undergrads socialize and relax!</p>
  <h2>Can anyone go to SaveTFP?</h2>
  <p>Yes! Although we advertise to MIT undergrads, everyone is welcome!</p>
  <h2>How do I join this cool club?</h2>
  <p>Normally we recruit in the middle of the fall semester. Watch out for emails!</p>
  <h2>Can my club do a colab event with SaveTFP?</h2>
  <p>Hecky yeah! Colabs are great! Just contact us and we'll try to set something up</p>
</div>

{% endblock %}