{%extends 'layout.html'%}


{%block content %}
<!-- Header -->
<div class="header">
  <h1>SaveTFP Events</h1>
</div>

<style type="text/css">
  img{
    object-fit: cover;
    margin: auto;
  }
  .flip-card-front{
    overflow: hidden;
    text-align: center;
  }
  .flip-card-back{
    overflow: hidden;
    text-align: center;
  }
  @media screen and (max-width: 600px) {
  .row {   
    flex-direction: column;
  }
</style>


<!-- The flexible grid (content) -->
<div class="row">
  <div class="side">
    {%for i in range((events|length)//4+1)%}
    <div class="top" style="height: 120px; flex: 100%">
      <div class="fakeimg" style="width:50%; height: 100%">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width='100%' src="{{imgs[(i*12)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+1)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>
      
      <div class="fakeimg" style="width:50%; height: 100%">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width="100%" src="{{imgs[(i*12+2)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+3)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mid" style="height:200px; flex:100%;">
      <div class="fakeimg" style="width:70%; height: 100%">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width="100%" src="{{imgs[(i*12+4)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+5)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>
      <div class="fakeimg" style="width:30%; height: 50%">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width="100%" src="{{imgs[(i*12+6)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+7)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>
      <div class="fakeimg" style="width:30%; height: 50%;">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width="100%" src="{{imgs[(i*12+8)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+9)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bot" style="height:140px; flex: 100%">
      <div class="fakeimg" style="width:100%; height: 100%">
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              
                <img width="100%" src="{{imgs[(i*12+10)%(imgs|length)].filename}}">
            </div>
            <div class="flip-card-back">
                <img width="100%" src="{{imgs[(i*12+11)%(imgs|length)].filename}}">
            </div>
          </div>
        </div>
      </div>

    </div>
    {% endfor %}
  </div>
  <div class="main">
    <h1 style="text-align: center; width: 100%;">Upcoming Events</h1>
    {%for event in events%}
    <div style="display: flex;">
      <div style="flex:30%;">
        <img class="fakeimg eventimg" style="width:80%; padding: 0px" src="{{event.image}}">
      </div>
      <div style="flex:70%;">
        <h2>{{event.name}}</h2>
        <h5>Coffehouse Lounge {{event.start.month}}/{{event.start.day}}  {{event.start.hour}}:{{event.start.minute}}- {{event.end.hour}}:{{event.end.minute}}</h5>
        <p>{{event.desc}}</p>
      </div>
    </div>
    {%endfor%}

  </div>
    
</div>
{% endblock %}